version: 2
jobs:
  build:
    docker:
      - image: sxend/ubuntu:16.04.4
    steps:
      - checkout
      - run: cd /tmp && wget https://github.com/jgm/pandoc/releases/download/1.16.0.2/pandoc-1.16.0.2-1-amd64.deb && sudo dpkg -i pandoc-1.16.0.2-1-amd64.deb
      - run: pandoc -v
      - run: wget -O /tmp/sbt-1.0.3.tgz https://github.com/sbt/sbt/releases/download/v1.0.3/sbt-1.0.3.tgz && cd /opt && tar xzf /tmp/sbt-1.0.3.tgz && ln -s /opt/sbt/bin/sbt /bin/sbt
      - run: apt-get -y install gettext-base && mkdir -p /root/.bintray && envsubst < .credentials > /root/.bintray/.credentials
      - restore_cache:
          key: scala-template-cache
      - run: sbt clean "test:compile" exit
      - save_cache:
          key: scala-template-cache
          paths:
            - "/root/.ivy2"
            - "/root/.sbt"
      - run: sbt test exit
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              sbt "set version := \"0.0.1-b${CIRCLE_BUILD_NUM}-${CIRCLE_SHA1}\"" package assembly publish exit
            fi